/* IMPORTS */
/* #region */

@import url('https://fonts.googleapis.com');

/* #endregion */

/*ALL*/
/* #region */

/* root */
/* #region */

* {
  box-sizing: border-box;
}

:root {
  --background-color: rgb(11,11,11);
  --transparent: rgba(0,0,0,0);
  --background-translucent: rgba(22, 22, 22, 0.4);
  --shadow-color: rgba(0,0,0,0.7);

  --heading-color: #edcd6b;
  --heading-color-translucent: rgba(237, 205, 107, 0.5);

  --primary-text-color: #eeeeee;
  --secondary-text-color: #92a6b6;
  --tertiary-text-color: #818181;

  --link-color: #ff733c;
  --link-color-hover: #ff7a45;

  --accent-color: #c2410c;
  --accent-border: #ff733c;
  --accent-text-color: #ffe6dc;
  --accent-shadow-color: rgba(194, 65, 12, 0.4);
  
  --button-bg-color: #2b2b2b;
  --button-border-color: #444;
  --light-shadow: rgba(255,255,255, 0.3);

  --dot-color: #515b63;

  --text-xs: clamp(0.9rem, 0.88rem + 0.05vw, 0.95rem);
  --text-sm: clamp(1rem, 0.98rem + 0.06vw, 1.05rem);
  --text-base: clamp(1.05rem, 1.02rem + 0.08vw, 1.1rem);

  --text-md: clamp(1.1rem, 1.05rem + 0.12vw, 1.2rem);
  --text-lg: clamp(1.25rem, 1.15rem + 0.18vw, 1.4rem);
  --text-xl: clamp(1.4rem, 1.25rem + 0.25vw, 1.65rem);
  --text-2xl: clamp(1.6rem, 1.4rem + 0.35vw, 1.9rem);
  --text-3xl: clamp(1.9rem, 1.6rem + 0.5vw, 2.2rem);


  --header-height: 10vh;
  --footer-height: max(fit-content, 6vh);

  --border-radius-pill: 999px;
  --border-radius-button: .6rem;
  --button-padding: .5rem 1rem;
  
  transition: 
    transform .35s ease-in-out,
    box-shadow .35s ease-in-out,
    opacity .35s ease-in-out,
    backdrop-filter .35s ease-in-out,
    background .35s ease-in-out,
    max-height .35s ease-in-out;
}

.main {
  margin: 0 auto;
  overflow: visible;
  overflow-x: visible;

  margin-top: 3rem;
  margin-bottom: 3rem;

  max-width: min(2000px, 75vw);
  width: 100%;
  padding: 0 0;
  z-index: 2;
}

/* #endregion */

/* text formatting */
/* #region */
html {
  font-size: var(--text-base);

  overscroll-behavior: none;
}

h1 {
  font-size: var(--text-3xl);
  justify-content: center;
  align-content: center;
  color: var(--primary-text-color);
  font-weight: 800;

  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h2 {
  display: flex;
  gap: 10px;

  color: var(--heading-color);
  margin-top: 3rem;
  margin-bottom: .5rem;

  font-size: var(--text-2xl);
  font-weight: 650;

  vertical-align: center;
  align-items: center;

  position: relative;
}

h3 {
  font-size: var(--text-xl);
  color: var(--heading-color);
  font-weight: 650;

  margin-top: 1.5rem;
  margin-bottom: .5rem;
}

h4 {
  font-size: var(--text-lg);
  color: var(--heading-color);
  font-weight: 650;

  margin-top: 1rem;
  margin-bottom: .5rem;
}

.secondary-text {
  color: var(--secondary-text-color);
}

.tertiary-text {
  color: var(--tertiary-text-color);
}

.bullet-wrap {
  position: absolute;
  left: -3rem;
  bottom: .5rem;
  display: flex;
}

.bullet {
  height: 2.2rem;
  width: auto;
}

hr {
  display: none;
}

body {
  margin-top: 0;
  margin: 0;
  background: var(--background-color);
  color: var(--primary-text-color);
  font-family: system-ui, sans-serif;

  overscroll-behavior: none;
}

a {
  color: var(--link-color);
  text-decoration: none;

  cursor: pointer;
}

a:hover {
  color: var(--link-color-hover);
}

.quote,
.date {
  
  color: var(--secondary-text-color);
  font-style: regular;
}

.quote {
  text-align: center;
}

.build-heading {
  display: flex;
  flex-direction: row;

  align-items: baseline;
  gap: 2rem;
}

.date {
  margin-bottom: 0px;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

iframe {
  height: 60vh;
  aspect-ratio: 16 / 9;
  border-radius: var(--border-radius-button);
  background: var(--background-color);
}
/* #endregion */

/* buttons */
/* #region */

.button,
.footer-button,
.icon-button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  height: 2.5rem;

  text-decoration: none;
  border-radius: var(--border-radius-button);
  font-weight: 650;
  width: fit-content;

  text-wrap: nowrap;
}

.button {
  color: var(--heading-color);
  background-color: transparent;
  border: 2px solid var(--heading-color);

  font-size: var(--text-md);
  height: 3rem;
}

.footer-button,
.icon-button {
  color: var(--secondary-text-color);
  background-color: var(--button-bg-color);
  border: 2px solid var(--button-border-color);
  font-size: var(--text-md);
}


.button:hover {
  background: var(--accent-color);
  color: var(--primary-text-color);
  border-color: var(--accent-color);

  transform: scale(1.05);;
  transition: transform .25s ease-in-out;
}

.footer-button:hover,
.icon-button:hover {
  color: var(--heading-color);
  border: 2px solid var(--heading-color-translucent);
  transition: all .25s ease-in-out;
}

.footer-button:hover {
  transform: translateY(-.3rem);
}

.icon-button:hover {
  transform: translateX(.5rem)
}

.footer-button.member {
  font-size: var(--text-base);
}

/* #endregion */

/* 
======================
header
======================
*/

/* #region */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  padding: 1rem clamp(2rem, 4vw, 5rem);
  
  height: var(--header-height);

  position: sticky;
  top: 0;

  background: var(--background-color);
  border-bottom: solid 2px var(--button-border-color);
  z-index:10000;
}

.header h1 {
  margin: 0;
  line-height: 1;
}

.mobile-title {
  display: none;
}

.header-home {
  background: transparent;
  backdrop-filter: none;
  position: absolute;
  width: 100%;

  border: none;
}

.header-home h1 {
  display: none;
}

.header-home::before {
  display: none;
}

.hero h1 {
  color: var(--heading-color);
}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.logo {
  position: static;

  max-height: 2.25lh;
  height: auto;

  display: block;
}

.header-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.tagline {
  font-size: var(--text-md);
  font-style: italic;
  color: var(--heading-color);
  opacity: 0.75;
  white-space: nowrap;
}

.date a {
  color: var(--heading-color);
  text-decoration: none;
  opacity: 0.85;
}


img{
  max-width: 100%;
  height: auto;
  display: block;
}

/* 
======================
NAVIGATION MENU
======================
*/

/* #region */

.navbar {
  position: relative;
}

.nav-item-link,
.dropdown-toggle {
  font-size: var(--text-xl);

  font-weight: 550;
}

.nav-item-link {
  display: flex;
  color: var(--primary-text-color);
  width: 100%;
  text-decoration: none;

  padding-top: 8px;
}

.dropdown-toggle {
  display: flex;
  margin-left: -5px;
  vertical-align: center;
  color: var(--primary-text-color);

  cursor: default;
}

/*
======================
Nav Hover Effects
======================
*/

/* #region */

.nav-item-link:hover {
  background-color: transparent;
  color: var(--heading-color);
  transition: all .25s ease-in-out;
  transform: translateY(5px);
}

.dropdown-toggle:hover {
  color: var(--heading-color);
  transition: all .25s ease-in-out;
  transform: translateY(5px);
}

.navbar .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

/* #endregion */

/* 
==================
Hammer Icon
================== 
*/

/* #region */

.nav-item-link::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;

  top: 0;
  margin-right: 12px;
  margin-left: 8px;
  margin-top: 8px;

  background-image: url('./assets/icons/hammer.svg');
  background-size: contain;
  background-repeat: no-repeat;

  opacity: 0;
}

.nav-item-link:hover::after {
  opacity: 1;
}

.dropdown-toggle::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;

  top: 0;
  margin-right: 12px;
  margin-left: 8px;
  margin-top: 8px;

  background-image: url('./assets/icons/hammer.svg');
  background-size: contain;
  background-repeat: no-repeat;

  opacity: 0;
  border: none;
}

.dropdown-toggle.show::after {
  transition: all .25s ease-in-out;
  opacity: 1;
}

.dropdown-toggle.active {
  color: var(--heading-color);
}

.dropdown-toggle.show {
  color: var(--heading-color) !important;
  transition: all .25s ease-in-out;
  opacity: 1;
}

/* #endregion */

/* 
===================
Dropdown Menus
===================  
*/

/* #region */

.nav-header {
  text-align: end;
}

.dropdown-menu {
  display: block;
  background: var(--background-color);
  backdrop-filter: blur(8px);
 
  opacity: 0;
  transition: all .25s ease-in-out;
  transform: translateY(-10px) scale(0.98);
  
  pointer-events: none;

  border-bottom: 2px solid var(--button-border-color);
  border-radius: 0;

  right: 0;
  left: auto;
  max-width: 90vw;
}

.header-home .dropdown-menu {
  background: var(--transparent);
  backdrop-filter: none;
  border: none;
}

.header-home .dropdown-menu:hover {
  border-bottom: none;
}

.dropdown-menu:hover {
  border-bottom: 2px solid var(--heading-color);
}

.navbar .dropdown-menu {
  left: auto;
  right: 0;
}

.container {
  padding-right: 20px;
}

.dropdown-menu.show {
  opacity: 1;
  transform: translateY(0);
  transition: all .25s ease-in-out;
  pointer-events: auto;
  color: var(--heading-color);
}

/* #endregion */

/*
=================
Dropdown Items
=================
*/

/* #region */

.dropdown-item {
  color: var(--primary-text-color);
  text-align: right;
  font-size: var(--text-lg);
  font-weight: 550;

  line-height: 1.25;
  margin-top: 5px;
  margin-bottom: 5px;

  width: 100%;

  white-space: normal;
}

.nav-dropdown-link {
  color: var(--primary-text-color);
}

.nav-dropdown-link:hover {
  color: var(--heading-color);
}

.dropdown-item:hover {
  background-color: transparent;
  color: var(--heading-color);
  opacity: 1;
  transform: translateX(-4px);
  transition: all .25s ease-in-out;
} 

.dropdown-item.active::after {
  content: "";
  height: 2px;
  background: var(--heading-color);
  margin-top: 50px;
}

/* #endregion */

/*
===============
Mobile Nav
===============
*/

/* #region */

.hamburger {
  display: none;
  font-size: var(--text-xl);
  background: none;
  border: none;
  color: var(--heading-color);
  cursor: pointer;
  z-index: 11000;
}

/* #endregion */

/* #endregion */

/* #endregion */

/* 
======================
footer
======================
*/

/* #region */

.footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--background-color);
  border-top: solid 2px var(--button-border-color);
  backdrop-filter: blur(8px);
  margin-top: 0rem;

  height: var(--footer-height)
}

.footer-right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  font-size: var(--text-md);
  opacity: 0.8;
  border: none;
}

.footer-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--text-sm);
}

.footer-logo {
  display: flex;
  align-items: left;
  max-width: 100px;
  width: 100%;
  height: auto;
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.footer-logo img{
  display: flex;
  height: 2lh;
  width: auto;

  margin-left: 1rem;
  margin-right: 0rem;
}

.footer-left p {
  margin: 0;
  font-size: var(--text-base);
  color: var(--secondary-text-color);
}

.copyright {
  display:flex;
  margin-bottom: -20px;
  text-wrap: nowrap;
}

.icon-wrapper {
  width: 22px;
  height: 22px;

  display: grid;
  place-items: center;
}

.icon {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.icon.base {
  opacity: 1;
  transition: all .25s ease-in-out;
}

.icon.hover {
  opacity: 0;
}

.icon-button:hover .icon.base,
.footer-button:hover .icon.base {
  opacity: 0;
}

.icon-button:hover .icon.hover,
.footer-button:hover .icon.hover {
  opacity: 1;
  transition: all .25s ease-in-out;
}

/* #endregion */

/* #endregion */

/*HOME*/

/* #region */

/*
======================
hero
======================
*/

/* #region */

.hero {
  position: relative;
  height: 100vh;
  padding: 1rem;
  min-height: 500px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  color: white;

  background-image: url('./assets/slideshow/1-forest.png'); 
  background-size: cover;
  background-position: center;

  font-weight: 650;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  padding: 40px;
}

.hero-text {
  color: var(--heading-color);

  text-align: center;
}

.hero-title {
  font-size: var(--text-3xl);
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.hero-tagline {
  font-size: var(--text-lg);
  font-style: italic;
  font-weight: 350;

  opacity: 0;
  transform: translateY(20px);
  animation: fadeUpIn 1s ease-out forwards;
  animation-delay: .7s;
}

.hero-title{
  font-size: 3rem;
  opacity: 0;

  transform: translateY(20px);
  animation: fadeUpIn 1s ease-out forwards;
  animation-delay: 0.15s;
}


@keyframes fadeUpIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;

  opacity: 0;
  transform: translateY(20px);
  animation: fadeUpIn 1s ease-out forwards;
  animation-delay: 1.5s;
}

.btn-primary,
.btn-secondary {
  font-size: var(--text-base);
  padding: 0.75rem 1.25rem;
  text-decoration: none;
  border-radius: var(--border-radius-button);
  border: 1px solid var(--heading-color);
  color: var(--heading-color);
}

.btn-primary:hover,
.btn-secondary:hover {
  background: var(--accent-color);
  color: var(--primary-text-color);
  border: 1px solid var(--accent-color);

  transform: translateY(-3px);
  transform: translateY(-3px);
  transition: all .25s ease-in-out;
  box-shadow: 0 5px 15px var(--accent-shadow-color);
}

/* #endregion */

/* #endregion */

/* ABOUT */

/* #region */

.map-parent {
  width: 80%;
}

.about-top {
  display: grid;
  grid-template-columns: 1fr .5fr;
  gap: 0rem;

  margin-top: -1rem;
}

.about-links {
  display: flex;
  flex-direction: row;

  gap: 1rem;
  margin-bottom: 1rem;
}
/*
====================
members
====================
*/

/* #region */

.members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 3rem;

  margin-top: 2rem;
  position: relative;
  justify-content: center;
}

/*
--------------------
cards base
--------------------
*/

/* #region */

.team-member-card {
  background: var(--background-translucent);
  backdrop-filter: blur(12px);

  position: relative;
  z-index: 1;

  width: 100%;
  max-width: 400px;
  justify-self: center;

  height: fit-content;

  border-radius: var(--border-radius-button);
  padding: 2rem 2rem;

  display: flex;
  flex-direction: column;

  border: 2px solid var(--button-border-color);

  transition: transform .25s ease-in-out;
}

@media (hover: hover) {
  .team-member-card:hover {
    transition: all .25s ease-in-out;
    transform: scale(1.04);
    z-index: 10;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.45);
    border-color: var(--heading-color-translucent);
  }
}

.member-inner {
  display: flex;
  flex-direction: column;

  width: auto;
  height: 100%;
  gap: 0;
}

/*
====================
CARD CONTENT
====================
*/

/* #region */

.member-info {
  display: flex;
  flex-direction: column;
}

.member-name-and-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member-photo {
  width: 8rem;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.member-name {
  color: var(--primary-text-color);
  font-size: var(--text-lg);
  font-weight: 650;
}

.member-subheading {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 0rem;

  font-size: var(--text-base);
  color: var(--tertiary-text-color);
  font-weight: 650;
}

.member-roles,
.member-projects {
  display: flex;
  flex-direction: row;

  gap: .5rem;

  align-items: baseline;
  font-weight: 650;
}

.member-roles {
  margin-top: .5rem;
}

.role-badge,
.project-badge {
  border-radius: var(--border-radius-pill);

  text-wrap: nowrap;
  font-size: var(--text-xs);
  padding: var(--button-padding);
  font-weight: 650;

  background: var(--button-bg-color);
  color: var(--secondary-text-color);
  border: 2px solid var(--button-border-color);
}

.project-badge:hover {
  color: var(--heading-color);
  border: 2px solid var(--heading-color-translucent);
}

/* #endregion */

/* #endregion */

/*
--------------------
cards expanded
--------------------
*/

/* #region */

.team-member-card.expanded {
  max-width: fit-content;
  height: auto;  
  min-height: fit-content;

  overflow: visible;

  z-index: 999;

  box-shadow: 0 25px 70px rgba(0, 0, 0, 0.6);
}

.members.dim-active .team-member-card {
  opacity: 0.25;
  filter: blur(1px) grayscale(.2);
  transform: scale(0.98);
  transition: all .25s ease-in-out;
  pointer-events: none;
}

.members.dim-active .team-member-card.expanded {
  opacity: 1;
  filter: none;
  pointer-events: auto;
  z-index: 1;
}

.member-overlay {
  position: fixed;
  inset: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;

  background: rgba(0, 0, 0, 0.4);
}

.members.dim-active {
  position: relative;
}

.members.dim-active::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.25);
  pointer-events: none;
}

.member-extra {
  opacity: 0;
  max-height: 0;
  
  overflow: hidden;

  transform: translateY(10px);
  transition: all .25s ease-in-out;
}

.member-extra:empty {
  display: none;
}

.member-divider {
  display: block;
  background-color: var(--button-border-color);

  height: auto;
  width: 2px;
}

.team-member-card.expanded .member-extra {
  opacity: 1;
  max-height: fit-content;
  transform: translateY(0);
  transition: all .25s ease-in-out;

  margin-top: 1rem;
}



.team-member-card.expanded .member-inner {
  flex-direction: row;
  
  gap: 2rem;

  padding: 2rem 2rem;
}



/*
====================
BIO + LINKS
====================
*/

/* #region */

.member-bio {
  margin-top: 1rem;
  text-align: center;
}

.member-links {
  display: flex;
  gap: 1rem;
  margin-top: .5rem;

  justify-content: center;
  align-items: bottom;
  padding: 0rem 1rem;
}

.icon-button-member {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button-member img {
  width: 30px;
  height: 30px;
}

.icon-button-member:hover {
  transform: translateY(-3px);
  transition: all .25s ease-in-out;
}

/* #endregion */

/* #endregion */

/*
--------------------
filters
--------------------
*/

/* #region */

.role-filters {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  margin: 1rem 0rem;
  justify-content: left;
}

.filter-tag {
  padding: var(--button-padding);
  border-radius: var(--border-radius-pill);
  background: var(--button-bg-color);
  color: var(--secondary-text-color);
  cursor: pointer;
  font-weight: 650;
  font-size: var(--text-sm);
  border: 2px solid var(--button-border-color);

  transition: transform .2s ease-in-out;
}

.filter-tag:hover {
  color: var(--heading-color);
  border-color: var(--heading-color-translucent);
  transform: translateY(-.25rem);
}

.filter-tag.active {
  color: var(--heading-color);
  border-color: var(--heading-color);
}

.filter-divider {
  width: 2px;
  background-color: var(--button-border-color);
  margin: 0 0.5rem;
}

.clear {
  border-radius: var(--border-radius-pill);
  font-weight: 650;
  font-size: var(--text-sm);

  color: var(--heading-color);

  padding: var(--button-padding);

  border: 2px solid var(--heading-color);

  transition: all .2s ease-in-out;
}

.clear:hover {
  color: var(--primary-text-color);

  box-shadow: 0 4px 12px var(--accent-shadow-color);

  border: 2px solid var(--accent-color);

  transform: translateY(-.25rem);
}

  /* #endregion */

/* #endregion */

/* #endregion */

/* PROJECTS */

/* #region */

/* game cards */

/* #region */

.games-container {
  display: flex;
  flex-wrap: wrap;        
  gap: 20px;             
  justify-content: center; 
  margin-top: 20px;
}

.game-card {
  aspect-ratio: 3 / 4;
  width: min(100%, 300px);
  position: relative;
  border-radius: var(--border-radius-button);
  overflow: hidden;
  cursor: pointer;
}

.game-card::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}

.game-card:hover::before {
  background: rgba(0,0,0,0.45);
}

.game-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  z-index: 1;
}

.game-card a {
  display: block;
  width: 100%;
  height: 100%;
}

.game-card:hover {
  transform: translateY(-6px);
  transition: all .25s ease-in-out;
  border: 2px solid var(--heading-color);
}

.game-card:hover img {
  transition: all .25s ease-in-out;
  transform: scale(1.05);
}

.game-card:hover .game-overlay {
  opacity: 1;
  transition: all .25s ease-in-out;
  transform: translateY(0);
}

.game-overlay {
  position: absolute;
  inset: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 20px;

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0)
  );

  opacity: 0;
  transition: all .25s ease-in-out;
  transform: translateY(10px);
  backdrop-filter: blur(4px);
}

.tag-button.playtest {
  color: var(--heading-color);
  background-color: transparent;
  border: 2px solid var(--heading-color);
  border-radius: var(--border-radius-pill);

  height: 2.4lh;
  width: fit-content;

  display: inline-flex;
  flex-direction: row;
  align-items: center;     
  justify-content: left;

  font-weight: 650;

  margin-bottom: 5px;
  
  will-change: transform; 

  padding: clamp(6px, 1vw, 10px) clamp(10px, 1.5vw, 14px);
  font-size: var(--text-md);
}

.tag-button.playtest img {
  transition: all .25s ease-in-out;
  transform: scale(.7) translateY(1px);
}

.tag-button.playtest:hover {
  color: var(--primary-text-color);
  background-color: var(--accent-color);

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  border: 2px solid var(--accent-color);

  transform: scale(1.05);
  transition: all .25s ease-in-out;
}

.game-title {
  color: var(--heading-color);

  text-wrap: nowrap;
  font-size: 1.6rem;
  margin-bottom: 5px;
  text-shadow: 0px 0px 20px var(--shadow-color);
}

.game-title::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 5px;

  background: var(--heading-color);
  opacity: 0.8;

  box-shadow: 0 0px 20px var(--shadow-color);
}

.game-status,
.game-date {
  display: inline-flex;    
  align-items: center;     
  justify-content: center;
  border-radius: var(--border-radius-pill); 
  
  gap: 5px;
  padding: 0px 14px;                
  font-size: var(--text-lg);
  font-weight: 650;
  letter-spacing: 0.3px;

  width: fit-content;
  height: 40px;
  flex: 0 0 auto;
  white-space: nowrap;

  cursor: default;

  margin-left: 0px;
  margin-top:5px;
  margin-bottom:10px;
  padding: 6px 14px;
  border-radius: var(--border-radius-pill);
}

.game-status {
  font-size: var(--text-md);
  background: rgba(194, 65, 12, 0.15);
  color: var(--accent-border);
  border: 2px solid var(--accent-color);
}

.game-date.available {
  background: rgba(194, 173, 12, 0.15);
  color: var(--heading-color);
  border: 2px solid #eccd45;
}

.game-date.unavailable {
  background: rgba(194, 12, 12, 0.15);
  color: #ed6b6b;
  border: 2px solid #ec4545;
}

.game-release {
  display: flex;
  flex-direction: row;
}

/* #endregion */

/*
======================
game pages
======================
*/

/* #region */

.game-main {
  margin: 0 auto;
  overflow: visible;
  overflow-x: visible;

  width: 100%;
  padding: 0 0;
  z-index: 2;
}

/*
----------------------
game background
----------------------
*/

/* #region */

.game-background {
  position: relative;
  min-height: 40vh;
  max-height: 40vh;
}

.game-background.tu::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: url("/tu-render4.png"); 
  background-size: 160vh;
  background-position: bottom right;
  background-repeat: no-repeat;
  z-index: -2;

  right: -28rem;

  opacity: 0;
  animation: fadeUpIn 1.5s ease-out forwards;  
}

.game-background.forsaken::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: 
    url("/forsaken-bg.png");
  background-size: 100%, 100%;
  background-position: right center, right center;
  background-repeat: no-repeat, no-repeat;
  z-index: -2;

  opacity: 0;
  animation: fadeUpIn 1.5s ease-out forwards;  
}

.game-background::after {
  content: "";
  position: fixed;
  height: 100vh;
  inset: 0;

  background: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0.2) 40%,
    rgba(0, 0, 0, 0.5) 100%
  );

  z-index: -1;
}

/* #endregion */

/*
----------------------
game overview
----------------------
*/

/* #region */

.game-page {
  width: 100%;
  max-height: min-content;
}

.game-hero {
  height: calc(100vh - var(--header-height) * 2);
  display: flex;
  flex-direction: column;

  opacity: 0;
  transform: translateY(20px);
  animation: fadeUpIn 1.5s ease-out forwards;
}

.game-hero-top {
  flex-shrink: 0;
  margin-left: 10vw;
}

.game-row {
  display: flex;
  align-items:baseline;
  gap: 1.5rem;
  padding-bottom: 1rem;
}

.director-button img {
  max-width: 50px;
  width: 100%;
  max-height: 50px;
  height: 100%;
}

.subheading {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .8rem;
  align-items: center;
  margin-bottom: 1rem;
}

.tag-button {
  display: inline-flex;
  flex-direction: row;
  line-height: 1;    
  align-items: center;     
  justify-content: center;
  border-radius: var(--border-radius-button); 
  gap: 0.3rem;
  
  background: var(--button-bg-color);
  color: var(--secondary-text-color);
  border: 2px solid var(--button-border-color);

  font-weight: 650;

  margin-bottom: 5px;
  
  will-change: transform; 

  font-size: clamp(1rem, 1.2vw, 1rem);
  padding: clamp(6px, 1vw, 10px) clamp(10px, 1.5vw, 14px);
}

.tag-button:hover {
  color: var(--heading-color);

  transform: translateY(4px);
  transition: all .25s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  border: 2px solid var(--heading-color-translucent);
}

.tag-indicator {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--border-radius-pill);
  padding:  var(--button-padding);
  font-size: var(--text-base);

  background: rgba(194, 65, 12, 0.15);
  border: 2px solid var(--accent-color);

  color: var(--accent-border);
  
  font-weight: 650;
}

.tag-indicator.status {
  background: rgba(194, 65, 12, 0.15);
  color: var(--accent-border);
  border: 2px solid var(--accent-color);
}

.tag-button img.icon {
  width: clamp(14px, 1.2vw, 20px);
  height: auto;
}

.icon-wrapper {
  position: relative;
  width: clamp(18px, 1.5vw, 24px);
  height: clamp(18px, 1.5vw, 24px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapper img {
  display: block;
  height: 100%;
  width: auto;
  object-fit: contain;
}

.playtest img {
  transform: scale(.2) translateY(1px);
  transition: all .25s ease-in-out;
}

.release img {
  transform: scale(.75) translateY(1px);
  transition: all .25s ease-in-out;
}

.director img {
  transform: scale(1.05) translateY(2px);
  transition: all .25s ease-in-out;
}

.engine img {
  transform: scale(1.15) translateY(2px);
  transition: all .25s ease-in-out;
}

.tag-button:hover .icon.base {
  opacity: 0;
}

.tag-button:hover .icon.hover {
  opacity: 1;
  transition: all .25s ease-in-out;
}

/* #endregion */

/*
----------------------
game details
----------------------
*/

/* #region */

.expand-arrow {
  margin-top: 0;
  margin-bottom: 0;

  font-size: var(--text-3xl);
  font-weight: 500;

  background: none;
  border: none;
  cursor: pointer;
  color: var(--primary-text-color);
  transform: rotate(90deg);
}

.expand-arrow:hover {
  color: var(--heading-color);
  transform: scale(1.15) rotate(90deg);
  transition: all .25s ease-in-out;
}

.expand-arrow.open {
  transform: rotate(270deg);
}

.game-content {
  max-height: 0;
  overflow-y: hidden;
  overflow-x: visible;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 75%;
  padding: 0rem 5rem;

  animation: fadeUpIn 1s ease-out forwards;
}

.game-content.open {
  max-height: fit-content; 
  opacity: 1;
  transform: translateY(0);
}

.game-heading {
  color: var(--heading-color);
  padding-top: 30vh;
}

.game-glass {
  width: 100vw;
  flex-shrink: 0;
  background: var(--background-translucent);
  backdrop-filter: blur(5px);
  border-top: 2px solid var(--button-border-color);

  margin-top: auto;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: 0rem;

  z-index: 1;
}

.game-glass.open {
  height: auto;

  scroll-margin-top: var(--header-height);
}

.arrow-row {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0rem 0;

  height: var(--header-height);
}

.game-hero p {
  max-width: 40vw;
}

.build-links {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.build-feedback {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

/* #endregion */

/* 
----------------------
slideshows
----------------------
*/

/* #region */

.slideshow-wrapper {
  display: flex;
  justify-content: center;
}

.slideshow {
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  width: auto;  

  margin-bottom: 1rem;
}

.slide-placeholder {
  width: 100%;
  aspect-ratio: 21 / 9;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;

  margin-bottom: 1rem;
}

.slide-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: slowZoom 6s linear;
}

@keyframes slowZoom {
  from {transform: scale(1)}
  to {transform: scale(1.05)}
}

.sprite-placeholder {
  width: 100%;
  aspect-ratio: 1/1;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  @keyframes slowZoom {
    from {transform: scale(1)}
    to {transform: scale(1.05)}
  }
}

.slide-arrow {
  position: absolute;
  top: 50%;
  background: var(--button-bg-color);
  color: var(--primary-text-color);
  border: 2px solid var(--button-border-color);
  padding: 0rem .5rem;
  cursor: pointer;
  backdrop-filter: blur(8px);

  border-radius: 999px;
  font-size: var(--text-xl);
  font-weight: 500;
  opacity: 50%;
  transition: all .25s ease-in-out;
}

.next {
  right: 1rem;
}

.prev {
  left: 1rem;
}

.slide-arrow:hover {
  color: var(--heading-color);
  border: 2px solid var(--heading-color-translucent);
  opacity: .9;
  transform: scale(1.15);
}

.sprite-placeholder {
  height: 100%;
  aspect-ratio: 1/1;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.sprite-slideshow {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 0rem;

  margin-top: 3rem;
}

.sprite-slideshow img {
  height: 100%;
  display: flex;
  object-fit: fill;
  justify-content: center;
}

.sprite-slideshow img:hover {
  object-fit: fill;
}

.slide-image {
  cursor: pointer;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.caption {
  display: flex;
  justify-content: center;
  color: var(--secondary-text-color);
  font-style: italic;

  margin-top: .5rem;
  margin-bottom: 0rem;
}

.caption p {
   font-size: var(--text-lg);
   font-weight: 650;
}

.description {
  display: flex;
  justify-content: center;
  color: var(--primary-text-color);

  margin-top: .5rem;
  font-size: var(--text-md);
}

.fade-out + .description {
  opacity: 0;
}

.dots {
  display: flex;
  justify-content: center;
  vertical-align: center;
  gap: 0.75rem;

  margin-top: 0rem;
  margin-bottom: 1rem;

  background-color: var(--button-bg-color);
  width: fit-content;
  align-self: center;
  border-radius: var(--border-radius-pill);
  border: 2px solid var(--button-border-color);
  padding: 0 1rem;
}

.dots:hover {
  transform: scale(1.15);
  transition: all .25s ease-in-out;
  border: 2px solid var(--heading-color-translucent);
}

.dot {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: var(--dot-color);
  cursor: pointer;

  margin: 0.8rem 0rem;
}

.dot.active {
  background-color: var(--heading-color);
  transform: scale(1.2);
  transition: all .25s ease-in-out;
}

.dot:hover {
  background-color: var(--heading-color-translucent);
}

/* #endregion */

/* #endregion */

/*
======================
forsaken
======================
*/

/* #region */

.athyria-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  height: fit-content;
}
  
.athyria {
  flex: 1;
  /* max-width: 600px; */
}

.forsaken-map {
  display: grid;
  place-items: center;

  align-self: center;
  justify-self: center;
}

.forsaken-map img{
  width: 100%;
  max-width: 400px;
  height: auto;
}

.tu-description {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;

  width: 100%;
  max-width: 100%;
}

.tu-description p {
  flex: 1;
  min-width: 0;

  max-width: 50%;
}

.art-section {
  display: grid;
  grid-template-columns: 1fr .4fr;
  grid-template-rows: max-content;
  gap: 2rem;
}


.concept-art-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  margin-bottom: 2rem;

  width: fit-content;
}

.concept-art {
  max-width: 15vw;
  height: auto;
}

.navbar-home .ms-auto {
  background-color: transparent !important;
}

.pitch-video {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 1rem 0rem;
}

/* #endregion */

/* #endregion */

/* MEDIA QUERIES */

/* #region */

@media (min-width: 1200px) {
  .nav-close {
    display: none;
  }
}

@media (max-width: 1199px) {

  .main {
    overflow: hidden;
  }

  .footer {
    overflow: hidden;
  }

  .mobile-title {
    display: none;
  }
  
  h2 {
    text-wrap: nowrap;
  }

  .logo {
    width: 5rem;
  }

  .header {
    background-color: var(--background-color);
  }

  .header-home {
    background-color: transparent;
  }

  .header-home .header-left {
    margin-left: 0.5rem;
  }

  .header-left h1 {
    display: none;
  }

  .header-right {
    margin-right: -1rem;
  }  

  .tagline {
    display: none;
  }

  .hero-content {
    padding: 20px;
  }

  .footer {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    text-align: center;
  }

  .hamburger {
    display: block;
  }

  .game-card {
    width: 100%;
  }

  .game-overlay p,
  .game-overlay h3,
  .game-overlay a,
  .game-overlay div {
    display: none;
  }

  .ms-auto {
    background-color: var(--background-color);
  }

  .navbar-dark .navbar-toggler {
    border: 2px solid var(--transparent);
  }

  .navbar-toggler {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }

  .navbar-toggler:focus,
  .navbar-toggler:active {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }

  .navbar-toggler:focus-visible {
    box-shadow: 0 0 0 2px var(--heading-color);
    border-radius: 6px;
  }

  .navbar-dark .navbar-toggler-icon {
    width: 3rem;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23edcd6b' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .navbar-dark .navbar-toggler:hover .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23edcd6b' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .navbar-collapse.show .navbar-toggler {
    border: 2px solid var(--transparent);
  }

  .navbar-collapse,
  .navbar-home .navbar-collapse {
    position: fixed;
    top: 0;
    right: 0;

    height: 100vh;
    width: min(fit-content, 40vw);

    backdrop-filter: blur(12px);

    padding: 2rem 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    transform: translateX(100%);

    z-index: 9999;
  }

  .navbar-collapse {
    background: var(--background-color);
    border-left: 2px solid var(--button-border-color);
  }

  .navbar-home .navbar-collapse {
    background: rgba(11, 11, 11, 0.6);
  }

  .navbar-collapse.show {
    transform: translateX(0);
  }

  .navbar-nav {
    width: 100%;
    align-items: flex-end;
  }

  .nav-item-link {
    justify-content: flex-end;
    margin-right: 0;
  }

  .nav-item-link:hover {
    background-color: transparent;
    color: var(--heading-color);
    transform: translateX(-5px);
  }

  .nav-item-link::after {
    display: none;
  }

  .mobile-toggle {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left:0;
  }

  .arrow {
    margin-left: 5px;
  }

  .arrow.open {
    transform: rotate(180deg);
  }

  .copyright {
    display: none;
  }

  .mobile-submenu {
    max-height: 0;
    overflow: hidden;
  }

  .mobile-submenu.open {
    max-height: fit-content;
    gap: 10rem;
  }

  .mobile-submenu a {
    display: block;
    padding-right: 1.2rem;
    font-size: clamp(1.1rem, 2.5vw, 1.75rem);
  }

  .dropdown-item {
    margin-top: .75rem;
  }

  .nav-close {
    font-size: 2rem;
    color: var(--heading-color);

    background: none;
    border: none;
    cursor: pointer;
  }

  .nav-close:hover {
    transform: scale(1.1);
  }

  .athyria-section {
    grid-template-columns: 1fr;
  }

  .forsaken-map {
    order: -1;
  }

  .athyria {
    max-width: 100%;
    text-align: left;
  }

  .forsaken-map img {
    max-width: 100%;
  }

  .tu-description {
    flex-direction: column;
    gap: 0rem;
  }

  .concept-art-wrapper {
    align-self: center;
  }

  .tag-indicator.status {
    text-wrap: nowrap;
  }

  .members {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .team-member-card {
    max-width: 100%;
  }

  .team-member-card.expanded {
    width: 90vw; 
    min-height: fit-content;
    transform: scale(.85);
  }

  .team-member-card.expanded .member-inner {
    max-width: 100%;
    min-height: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }

  .member-divider {
    display: none;
  }

  .member-inner {
    gap: 0rem;
  }

  .member-roles {
  
  }
  
  .member-extra {
    width: fit-content;
    height: fit-content;
  }

  .member-bio {
    margin-top: 0rem;
  }

  .member-links {
    flex-direction: column;
    align-items: center;
    max-height: none;
  }

  .member-subheading {
    margin-bottom: .5rem;
  }


  .about-top {
    display: flex;
    flex-direction: column;
  }


  .map-parent {
    width: 100%;
    place-items: center;
  }

  .about-links {
    flex-direction: row;
  }

  .filter-divider {
    display: none;
  }

  .slideshow {
    width: 100%;
  }

  .game-content {
    width: 100%;

    padding: 0rem 1rem;
  }

  .build-links {
    flex-direction: column;
    gap: 1rem;
  }

  .footer-right {
    flex-direction: column;
    align-items: flex-end;
  }

  .pitch-video {
    width: auto;
  }

}

@media (max-width: 1600px) {
   .game-background.forsaken::before  {
    display: none;
  }

  .game-heading {
    padding-top: 10vh;
  }

  

  .game-background.tu::before {
    display: none;
  }
}

/* #endregion */


