@import url('https://fonts.googleapis.com');

* {
  box-sizing: border-box;
}

:root {
  --heading-color: #edcd6b;
  --primary-text-color: #edf7ff;
  --secondary-text-color: #9bb0c1;

  --link-color: #ff733c;
  --link-color-hover: #ff8757;

  --background-translucent: rgba(11, 11, 11, 0.4);

}

/* 
======================
TEXT FORMATTING
======================
*/

html {
  font-size: clamp(14px, 1vw, 18px);
}

h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  justify-content: center;
  align-content: center;
  color: var(--heading-color);
  font-weight: bold;
}

h2 {
  color: var(--heading-color);
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: clamp(1.5rem, 3.5vw, 2rem);
  font-weight: bold;

  vertical-align: center;
}

h3 {
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
  color: var(--heading-color);
  font-weight: 650;
  margin-bottom: 10px;
}

hr {
  display: none;
}

body {
  margin-top: 20px;
  margin: 0;
  background: rgb(11, 11, 11);
  /* color: #edf7ff; */
  color: var(--primary-text-color);
  font-family: system-ui, sans-serif;
  /* font-size: large; */
}

a {
  color: var(--link-color);
  text-decoration: none;

  cursor: pointer;
}

a:hover {
  color: var(--link-color-hover);
}

.main {
  margin: 0 auto;
  overflow: visible;
  overflow-x: hidden;
  /* overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  flex: 1; */
}

.main,
.slideshow {
  max-width: min(1200px, 90vw);
  width: 100%;
  padding: 0 1rem;
}

.quote,
.date {
  color: var(--secondary-text-color);
  font-style: italic;
}

.quote {
  text-align: center;
}

.date {
  margin-bottom: 0px;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.bullet {
  position: absolute;
  max-width: 45px;
  margin-left: -50px;
  padding-right: 10px;
  padding-top: 5px;
}

/* 
======================
HEADER
======================
*/

.header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
 
  flex-wrap: nowrap;
  gap: 1rem;
  padding: 1.5rem clamp(1rem, 4vw, 3rem);
  
  max-height: 150px;

  top: 0;
  background: var(--background-translucent);
  backdrop-filter: blur(8px);
  z-index:10000;
}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  
}

.logo {
  position: static;
  top: 100;
  max-width: 100px;
  width: 100%;
  height: auto;
}

.header-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.tagline {
  font-size: 0.95rem;
  font-style: italic;
  color: var(--heading-color);
  opacity: 0.75;
  white-space: nowrap;
}

.date a {
  color: var(--heading-color);
  text-decoration: none;
  opacity: 0.85;
}


img{
  max-width: 100%;
  height: auto;
  display: block;
}

/* 
======================
NAVIGATION MENU
======================
*/

.navbar {
  position: relative;
}

.nav-item-link,
.dropdown-toggle {
  font-size: clamp(1.1rem, 2.5vw, 1.75rem);
}

.nav-item-link {
  display: flex;
  color: var(--secondary-text-color);
  width: 100%;
  transition: all 0.2s ease;
  text-decoration: none;

  padding-top: 8px;
}

.dropdown-toggle {
  display: flex;
  margin-left: -5px;
  vertical-align: center;
  color: var(--secondary-text-color);
  transition: all 0.2s ease;

  cursor: default;
}

/*
  ======================
  Nav Hover Effects
  ======================
*/

.nav-item-link:hover {
  background-color: transparent;
  color: var(--link-color-hover);
  transform: translateY(5px);
}

.dropdown-toggle:hover {
  color: var(--link-color-hover);
  transform: translateY(5px);
}

.navbar .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

/* 
    ==================
    Hammer Icon
    ================== 
*/

.nav-item-link::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;

  margin-top: 8px;
  margin-right: 10px;
  margin-left: 10px;

  background-image: url('./assets/icons/hammer.svg');
  background-size: contain;
  background-repeat: no-repeat;

  opacity: 0;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.nav-item-link:hover::after {
  opacity: 1;
}

.dropdown-toggle::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;

  vertical-align: bottom;

  margin-top: 8px;

  background-image: url('./assets/icons/hammer.svg');
  background-size: contain;
  background-repeat: no-repeat;

  opacity: 0;
  transition: opacity 0.2s ease, transform 0.2s ease;
  border: none;
}

.dropdown-toggle.show::after {
  opacity: 1;
}

.dropdown-toggle.active {
  color: var(--link-color-hover);
}

.dropdown-toggle.show {
  color: var(--link-color-hover) !important;
  opacity: 1;
}

/* 
  ===================
  Dropdown Menus
  ===================  
*/

.nav-header {
  font-size: 1.25rem;
  text-align: end;
}

.dropdown-menu {
  display: block;
  background: var(--background-translucent);
  backdrop-filter: blur(8px);
 
  opacity: 0;
  transform: translateY(-10px) scale(0.98);
  transition: opacity 0.2s ease, transform 0.2s ease;
  
  pointer-events: none;

  right: 0;
  left: auto;
  max-width: 90vw;
}

.navbar .dropdown-menu {
  left: auto;
  right: 0;
}

.container {
  padding-right: 20px;
}

.dropdown-menu.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  color: var(--link-color-hover);
}

/* 
    =================
    Dropdown Items
    =================
*/

.dropdown-item {
  color: var(--secondary-text-color);
  text-align: right;
  font-size: 1.5rem;

  line-height: 1.25;
  margin-top: 5px;
  margin-bottom: 5px;

  width: 100%;
  transition: all 0.2s ease;

  white-space: normal;
}

.nav-dropdown-link {
  color: var(--secondary-text-color);
}

.nav-dropdown-link:hover {
  color: var(--link-color-hover);
}

.dropdown-item:hover {
  background-color: transparent;
  color: var(--link-color-hover);
  opacity: 1;
  transform: translateX(-4px);
} 

.dropdown-item.active::after {
  content: "";
  height: 2px;
  background: var(--link-color-hover);
  margin-top: 50px;
}

/*
  ===============
  Mobile Nav
  ===============
*/

.hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: #edcd6b;
  cursor: pointer;
  z-index: 11000;
}

/*
====================
GAME CARDS
====================
*/

.games-container {
  display: flex;
  flex-wrap: wrap;        
  gap: 20px;             
  justify-content: center; 
  margin-top: 20px;
}

.game-card {
  aspect-ratio: 3 / 4;
  width: min(100%, 260px);
  position: relative;
  /* width: 260px; */
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;

  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.game-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0);
  transition: background 0.3s ease;
  z-index: 1;
}

.game-card:hover::before {
  background: rgba(0,0,0,0.45);
}

.game-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  z-index: 1;

  transition: transform 0.4s ease;
}

.game-card a {
  display: block;
  width: 100%;
  height: 100%;
}

.game-card:hover {
  transform: translateY(-6px);
  border: 2px solid #edcd6b;
}

.game-card:hover img {
  transform: scale(1.05);
}

.game-card:hover .game-overlay {
  opacity: 1;
  transform: translateY(0);
}

.game-overlay {
  position: absolute;
  inset: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 20px;

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0)
  );

  opacity: 0;
  transform: translateY(10px);

  transition: all 0.3s ease;

  backdrop-filter: blur(4px);
}

.game-title {
  color: #edcd6b;
  font-size: 1.6rem;
  margin-bottom: 5px;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.game-title::after {
  content: "";
  display: block;
  width: 215px;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 5px;

  background: #edcd6b;
  opacity: 0.8;

  box-shadow: 0 0px 20px rgba(0,0,0,0.7);
}

.game-status,
.game-date {
  display: inline-flex;    
  align-items: center;     
  justify-content: center;
  border-radius: 999px; 
  
  gap: 5px;
  padding: 0px 14px;                
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.3px;

  width: fit-content;
  height: 40px;
  flex: 0 0 auto;
  white-space: nowrap;

  transition: all 0.2s ease;
  cursor: default;

  margin-left: 0px;
  margin-top:5px;
  margin-bottom:10px;
  padding: 6px 14px;
  border-radius: 999px;
}

.game-status {
  background: rgba(194, 65, 12, 0.15);
  color: #ff8a5b;
  border: 2px solid #c2410c;
}

.game-date.available {
  background: rgba(194, 173, 12, 0.15);
  color: #edcd6b;
  border: 2px solid #eccd45;
}

.game-date.unavailable {
  background: rgba(194, 12, 12, 0.15);
  color: #ed6b6b;
  border: 2px solid #ec4545;
}

.game-title::after {
  content: "";
  display: block;
  width: 215px;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 5px;

  background: #edcd6b;
  opacity: 0.8;

  box-shadow: 0 0px 20px rgba(0,0,0,0.7);
}

/* .game-date {
  color: #ff8a5b;
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 0px;
} */

/* .game-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #edcd6b;
  opacity: 0.8;
} */

/* 
======================
SLIDESHOWS
======================
*/

.slideshow {
  max-width: 60vw;
  margin: 0 auto;
}

.slide-placeholder {
  width: 100%;
  aspect-ratio: 21 / 9;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.slide-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: slowZoom 6s linear;
  margin-bottom: 10px;
}

@keyframes slowZoom {
  from {transform: scale(1)}
  to {transform: scale(1.05)}
}

.sprite-placeholder {
  width: 50%;
  aspect-ratio: 1/1;
  background: #0b0b0b;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}

.sprite-slideshow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.sprite-slideshow img {
  width: 80%;
  display: flex;
  object-fit: fill;
  margin-bottom: 10px;
  justify-content: center;
}

.sprite-slideshow img:hover {
  object-fit: fill;
}

.slide-image {
  transition: opacity 2.0s ease-in-out, transform 0.2s ease;
  cursor: pointer;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.slide-image:hover {
  transform: scale(1.05);
}

.dots {
  display: flex;
  justify-content: center;
  vertical-align: center;
  margin-top: 20px;
  gap: 8px;
  margin-bottom: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #515b63;
  cursor: pointer;
  transition: all 0.2s ease;
}

.dot.active {
  background-color: #edcd6b;
  transform: scale(1.2);
}

.dot:hover {
  background-color: #9BB0C1;
}

.caption {
  font-size: large;
  font-style: italic;
  transition: opacity 0.3s ease;
}

.fade-out + .caption {
  opacity: 0;
}

/* 
======================
FOOTER
======================
*/

.footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: rgba(11, 11, 11, 0.7);
  backdrop-filter: blur(8px);
}

.footer-right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  font-size: 0.85rem;
  opacity: 0.8;
  border: none;
}

.footer-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.25rem;
}

.footer-logo {
  display: flex;
  align-items: left;
  max-width: 100px;
  width: 100%;
  height: auto;
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.footer-logo img{
  display: flex;
  margin-left: 1rem;
  margin-right: 0rem;
}

.footer-left p {
  margin: 0;
  font-size: 1rem;
  color: #9bb0c1;
}

.copyright {
  display:flex;
  margin-bottom: -20px;
}

.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background: #c2410c;
  width: fit-content;
  color: #eeeeee;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background 0.2s ease;
  margin-bottom: 20px;
}

/* 
  ======================
  Footer Buttons
  ======================
*/

.contact-button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  height: 40px;

  color: black;
  background-color: #9bb0c1;

  text-decoration: none;
  border-radius: 0.5rem;
  font-weight: 650;
}

.icon-button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  height: 40px;

  color: white;
  background-color: #9BB0C1;

  text-decoration: none;
  border-radius: 0.5rem;
  font-weight: 500;
}

.contact-button,
.icon-button {
  padding: 12px 12px;
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.2s ease;
}

.contact-button:hover {
  background: #c2410c;
  color: #eeeeee;
  transform: translateY(-3px);
}

.icon-button--linkedin:hover,
.icon-button--youtube:hover {
  transform: translateY(-3px);
}

.icon-button--linkedin:hover {
 
  background: #006cbf;
}

.icon-button--youtube:hover {
  background: #ff0000;
}

.icon-button img {
  max-width: 50px;
  width: 100%;
  max-height: 50px;
  height: 100%;
}

.icon-wrapper {
  position: relative;
  width: 30px;
  height: 20px;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  object-fit: contain; 
}

.icon.base {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.icon.hover {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.icon-button:hover .icon.base {
  opacity: 0;
}

.icon-button:hover .icon.hover {
  opacity: 1;
}


/*
======================
HERO BANNER
======================
*/

.hero {
  position: relative;
  height: min(90vh, 800px);
  padding: 1rem;
  min-height: 500px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  color: white;

  background-image: url('./assets/slideshow/1-forest.png'); 
  background-size: cover;
  background-position: center;

  font-weight: 600;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  padding: 40px;
}

.hero-text {
  color: #edcd6b;

  text-align: center;
}

.hero-title {
  font-size: clamp(2.5rem, 6vw, 4rem);
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.hero-tagline {
  font-size: clamp(1.1rem, 2.5vw, 1.5rem);
  font-style: italic;
  font-weight: 500;

  opacity: 0;
  transform: translateY(20px);
  animation: fadeUpIn 1s ease-out forwards;
  animation-delay: .7s;
}

.hero-title{
  font-size: 4rem;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUpIn 1s ease-out forwards;
  animation-delay: 0.15s;
}


@keyframes fadeUpIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;

  opacity: 0;
  transform: translateY(20px);
  animation: fadeUpIn 1s ease-out forwards;
  animation-delay: 1.5s;
}

.btn-primary,
.btn-secondary {
  font-size: clamp(1rem, 2.5vw, 1.25rem);
  padding: 0.75rem 1.25rem;
  text-decoration: none;
  transition: all 0.2s ease;
  border-radius: 6px;
  border: 1px solid #edcd6b;
  color: #edcd6b;
}

.btn-primary:hover,
.btn-secondary:hover {
  background: #c2410c;
  color: #eeeeee;
  border: 1px solid #c2410c;

  transform: translateY(-3px);
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(194, 65, 12, 0.4);
}

/*
===============
MEMBERS LIST
===============
*/

.members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  margin-top: 40px;
  gap: 20px;
  justify-items: center;
}

@media (max-width: 900px) {
  .members {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .members {
    grid-template-columns: repeat(1, 1fr);
  }
}

.team-member-card {
  background: rgba(44, 44, 44, 0.8);
  backdrop-filter: blur(6px);
  border-radius: 16px;
  padding: 20px;
  width: 275px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: default;

  border: 2px solid #444;
}

.team-member-card:hover {
  transform: translateY(-5px);

  border: 2px solid #edcd6b;
}

.team-member-card:hover .member-name {
  color: #edcd6b;
}

.team-member-card:hover .role-badge {
   background: #edcd6b;
}

.member-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 12px;
}

.member-name {
  color: #9bb0c1;

  font-size: 1.25rem;
  font-weight: 650;
  margin-bottom: 10px;
}

.member-roles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.role-badge {
  background: #9bb0c1;
  color: #111;
  font-size: 0.85rem;
  padding: 4px 10px;
  border-radius: 12px;
  font-weight: 600;
}

.member-links {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
}

.icon-button-member {

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s ease;
}

.icon-button-member img {
  width: 30px;
  height: 30px;
}

.icon-button-member:hover {
  transform: translateY(-3px);
}

.icon-linkedin {
  background-image: url('../assets/logos/linkedin.svg');
}

.icon-linkedin:hover {
  background-color: #006cbf;
}

.icon-github {
  background-image: url('../assets/icons/github.svg');
}

.icon-github:hover {
  background-color: #333;
}

  /*
  =============
  Role Tags
  =============
  */

.role-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
  justify-content: left;
}

.filter-tag {
  padding: 6px 14px;
  border-radius: 999px;
  background: #2b2b2b;
  color: #9BB0C1;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.9rem;
  border: 2px solid #444;

  transition: all 0.2s ease;
}

.filter-tag:hover {
  color: #edcd6b;
  border-color: #edcd6b;
  transform: translateY(-2px);
}

.filter-tag.active {
  background: #c2410c;
  color: #eeeeee;
  border-color: #c2410c;
}

.clear-filters {
  padding: 6px 14px;
  border-radius: 999px;

  background: rgba(194, 65, 12, 0.15);
  color: #ff8a5b;
  border: 2px solid #c2410c;

  cursor: pointer;
  font-weight: 600;
  font-size: 0.9rem;
 

  transition: all 0.2s ease;
}

.clear-filters:hover {
  background: #c2410c;
  color: #eeeeee;
  border-color: #c2410c;

  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(194, 65, 12, 0.4);
}

/*
================
PROJECT INFO
================
*/

.game-row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.status,
.director-button,
.engine-button,
.release-button {
  display: inline-flex;    
  align-items: center;     
  justify-content: center;
  border-radius: 999px; 
  
  gap: 5px;
  padding: 0px 14px;                
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.3px;

  width: fit-content;
  height: 40px;
  flex: 0 0 auto;
  white-space: nowrap;

  transition: all 0.2s ease;
  cursor: default;
}

.director-button img {
  max-width: 50px;
  width: 100%;
  max-height: 50px;
  height: 100%;
}

.status {
  padding: 6px 14px;
  border-radius: 999px;
}

.status {
  margin-left: 15px;
  background: rgba(194, 65, 12, 0.15);
  color: #ff8a5b;
  border: 2px solid #c2410c;
}

.subheading {
  display: flex;
  flex-direction: row;

  gap: 10px;
  align-items: left;

  flex-wrap: wrap; 

  margin-bottom: 20px;
}

.release-button,
.director-button,
.engine-button {
  background: #2b2b2b;
  color: #9bb0c1;
  border: 2px solid #444;

  margin-bottom: 5px;
  
  transition: transform 0.2s ease, box-shadow 0.15s ease, background 0.15s ease;
  will-change: transform; 
}

.release-button:hover,
.director-button:hover,
.engine-button:hover {
  color: #edcd6b;

  transform: translateY(4px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  border: 2px solid #edcd6b;
}

.director-button img {
  width: 25px;
  margin-right: 10px;
}

.engine-button img {
  width: 30px;
  margin-right: 10px;
}

.release-button img {
  width: 18px;
  margin-right: 7px;
  margin-left: 2px;
}

.release-wrapper,
.director-wrapper,
.engine-wrapper {
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex: 0 0 24px; 

  display: flex;
  align-items: center;
  justify-content: center;
}

.release-button:hover .icon.base,
.director-button:hover .icon.base,
.engine-button:hover .icon.base {
  opacity: 0;
}

.release-button:hover .icon.hover,
.director-button:hover .icon.hover,
.engine-button:hover .icon.hover {
  opacity: 1;
}

/*
=================
FORSAKEN
=================
*/

.athyria-section {
  display: flex;
  flex-direction: row;
  align-items: top;
}
  
.athyria {
  max-width: 30vw;
}

.forsaken-map {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.forsaken-map img{
  max-width: 500px;
  width: 100%;
  margin-top: 0;
}

/*
===============
MEDIA QUERIES
===============
*/

@media (max-width: 1000px) {
  .header-left {
    gap: 1rem;
  }

  .tagline {
    display: none;
  }

  .hero-content {
    padding: 20px;
  }

  .footer {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .hamburger {
    display: block;
  }

  .game-card {
    width: 100%;
  }

  .navbar-collapse {
    position: absolute;
    top: 100%;
    right: -10px;

    width: fit-content;
    background: rgba(11, 11, 11, 0.95);
    backdrop-filter: blur(8px);

    padding: 1rem 2rem;
    z-index: 9999;

    transform: translateY(-10px);
    opacity: 0;
    transition: all 0.2s ease;
  }

  .navbar-collapse.show {
    transform: translateY(0);
    opacity: 1;
  }

  .navbar-nav {
    align-items: flex-end; 
  }

  .nav-item-link {
    justify-content: flex-end;
    margin-right: 0;
  }

  .nav-item-link:hover {
  background-color: transparent;
  color: #ff733c;
  transform: translateX(-5px);
  }

  .nav-item-link::after {
    display: none;
  }

  .mobile-toggle {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left:0;
  }

  .arrow {
    margin-left: 5px;

    transition: transform 0.2s ease;
  }

  .arrow.open {
    transform: rotate(180deg);
  }

  .mobile-submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .mobile-submenu.open {
    max-height: 200px;
  }

  .mobile-submenu a {
    display: block;
    padding-right: 10px;
    font-size: 1.2rem;
  }

}
